.App {
  text-align: center;
  background-color:#1690b5;
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding-bottom:20px;
  margin-top: 20px;
  }
  
  .label{
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
  }
  
  .input{
  font-size: larger;
  padding: 5px;
  margin: 2px;
  
  }
  .btn{
  color: white;
  background-color: #85ab15;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
  }
  
  .messages{
  display: flex;
  justify-content: center;
  }
  
  .error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 1px 10px 30px 10px;
  }
  
  .success{
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 100px;
  padding: 10px;
  }