.survey-selections-item {
    background-color: #fcd1bc;
    padding: 20px;
    margin: 15px;
}
  
.survey-selections-item__links {
    padding: 5px;
    background-color: white;
}

.survey-selections-item__links_title {
    text-align: center;
    font-weight: bold;
}


  @media screen and (min-width: 992px)  {   
    .survey-selections-item {
      flex-basis: 50%;   
      display: flex;
    }
  
    .survey-selections-item__image {
      flex-basis: 80%;
    }
  
    .survey-selections-item__links {
      display: flex;
      flex-basis: 20%;
      flex-direction: column;
      gap: 1px;
    }

    .survey-selections-item__links_content{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      height: 100%;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) { 
    .survey-selection-image__title {
      font-size: 72px;
    }
  
    .survey-selections-item {
      display: flex;
    }
  
    .survey-selections-item__image {
      flex-basis: 80%;
    }
  
    .survey-selections-item__links {
      display: flex;
      flex-direction: column;
      flex-basis: 20%;
    }

    .survey-selections-item__links_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  
    .grades-image__title {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 767px) { 
    .survey-selection-image__title {
      font-size: 48px;
    }
  
    .survey-selections-item__links_content{
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  
    .grades-image {
      width: 100px;
      height: 100px;
    }
  
    .grades-image__title {
      font-size: 16px;
    }
  }