.survey-heading {
    text-align: center;
    display: flex;
    position: relative;
}
  
.survey-heading__title {
    width: 100%;
}
  
.survey-heading .grades-image {
    display: inline-block;
    width: 150px;
    height: 150px;
}

.survey-heading .logo-link {
    position: absolute;
}