.survey-media-multiple-choice-answer {
   text-align: center;
   width: 50%;
   max-width: 400px;
   display: inline-block;
   padding: 20px;
   cursor: pointer;
   opacity: 1;
}

.survey-media-multiple-choice-answer.choice--selected {
   opacity: 0.5;
   cursor: pointer;
}

.survey-media-multiple-choice-answer label {
   font-size: 16px;
}

.survey-media-multiple-choice-answer input {
   opacity: 0;
}