.survey-media-multiple-choice-answer {
   text-align: center;
   width: 50%;
   max-width: 400px;
   display: inline-block;
   padding: 20px;
   opacity: 1;
   position: relative;
}

.survey-media-multiple-choice-answer.choice--selected {
   opacity: 0.5;
}

.survey-media-multiple-choice-answer label {
   font-size: 16px;
}

.survey-media-multiple-choice-answer input {
   opacity: 0;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   cursor: pointer;
}