.survey-selections {
  
}

.survey .logo-link {
  width: 75px;
  height: 75px;  
}

.survey .grades-image__title {
  font-size: 20px;
}


@media screen and (min-width: 992px)  { 
    .survey-selections__row {
      display: flex;
      justify-content: center;
    } 
  }

  @media screen and (min-width: 992px)  { 
    .survey-selections__row {
      display: flex;
      justify-content: center;
    } 
  }

  @media screen and (min-width: 992px)  { 
    .survey-selections__row {
      display: flex;
      justify-content: center;
    } 
  }

  @media screen and (min-width: 768px)  { 
    .survey {
      margin: 20px;
    }

    .survey .logo-link {
      width: 100px;
      height: 100px;  
    }
  }