.go-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.go-button, .finish-button {
  padding: 10px 30px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.survey-selections {
  
}

.survey .logo-link {
  width: 75px;
  height: 75px;  
}

.survey .grades-image__title {
  font-size: 20px;
}


@media screen and (min-width: 992px)  { 
    .survey-selections__row {
      display: flex;
      justify-content: center;
    } 
  }

  @media screen and (min-width: 992px)  { 
    .survey-selections__row {
      display: flex;
      justify-content: center;
    } 
  }

  @media screen and (min-width: 992px)  { 
    .survey-selections__row {
      display: flex;
      justify-content: center;
    } 
  }

  @media screen and (min-width: 768px)  { 
    .survey {
      margin: 20px;
    }

    .survey .logo-link {
      width: 100px;
      height: 100px;  
    }
  }