/* Styles for both Signup form and Login form. */
/* -------------------------------------------- */

/* ----Signup  Form -----*/
.signupform {
  text-align: center; 
  background-color:none;
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding-bottom:20px;
  margin-top: 20px;
  border:10px solid #bf3e13;
  }
  .signupformHeader img {        
    width: 200px !important;         
  }

  .signupformHeader{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .signupformHeader h1{    
    color: #85ab15;   
  }

  .signupformHeader h2{    
    color: #85ab15;   
    font-weight: 700;   
  }
  /* end signup form */

  /* ----- Login Form-----  */
  .loginform {
    text-align: center;
    background-color:none;
    width: 50%; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-bottom:20px;
    margin-top: 20px;
    border:10px solid #bf3e13;
    }
    .loginformHeader img {        
      width: 50% !important;         
    }
  
    .loginformHeader{
      background-color: white;
      margin-top: 20px;
      margin-bottom: 50px;
    }
  
    .loginformHeader h1{    
      color: #85ab15;   
    }
  
    .loginformHeader h2{    
      color: #85ab15;
      line-height: 0em;
      font-weight: 700;   
    }
  /* end login form */
    

  .label{
  display: block;
  font-size: larger;
  color: black;
  padding: 5px;
  font-size:1.70em;
  }
  
  .input{  
  padding: 10px;
  margin: 2px;  
  width: 70%; 
  text-align: left; 
  font-size: 1.25em;
  outline:1px solid;
  }

  input[type="date" i] {
    text-align: center; 
    width:50%;
}
  .btn{
    background-color: #0078d0;        
    border: 0;
    border-radius: 26px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;    
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .btn:hover {
    background-color: #5bbfeb;
    color:black; 
  }

  .btn:focus {
  outline: 1px dashed #5bbfeb;
  background-color: darkblue;
  color:white; 
  }
  
  .messages{
  display: flex;
  justify-content: center;
  }
  
  .error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 1px 10px 30px 10px;
  }
  
  .success{
  display: block;
  background-color: #5bbfeb;
  color: black;
  width: fit-content;
  height: 100px;
  padding: 10px;
  }

  /* Mobile Responsive for Signup form */
  @media only screen and (max-width: 950px) {
    .signupform {
      width:80%;
     }
    .signupformHeader img {        
      width: 30% !important;     
    }   
    
    
  }
    
  @media only screen and (max-width: 600px) {
    .signupform {
      width:100%;
     }   
  
}

/* --end --*/

/* Mobile Responsive for Login Form */
@media only screen and (max-width: 950px) {
  .loginform {
    width:80%;
   }
   .loginformHeader img {        
     width: 40% !important;     
   }
   
 }
 @media only screen and (max-width: 500px) {
   .loginform {
     width:80%;
    }  
    .loginformHeader h1{    
      font-size: 1.60em;  
    }
    .error h2{
   font-size:1.50em;
  }
  
  .success h2{
    font-size:1.5em;    
   }
 
 }


