.matching-choices {
    background-color: #bf3e13;
    border-radius: 20px;
    
}


.matching-choices__content {
    display: flex;
    justify-content: space-around;
    background-color: #bf3e13;
    border: 5px solid #bf3e13;
    border-radius: 20px;
    
}

.matching-choices__content_item { 
   background-color: transparent;     
}

.matching-choices__content_item1 { 
    padding: 10px 20px;
    width: 60%;
    border-radius: 20px;
    background-color: white;
    /* border-bottom-left-radius: 20px; */
    /* border-top-left-radius: 20px; */
      
   
}

.matching-choices__content_item2 { 
    padding: 40px 40px;
    width: 40%;
    background: whitesmoke;    
    /*border-bottom-right-radius: 20px; */
    /* border-top-right-radius: 20px;  */
    border-radius:20px;    
	background: #F8F8F8; 
	border: solid #BDBDBD 1px; 
    margin-left:1px;
	box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.5) inset; 
	-webkit-box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.5) inset; 
	-moz-box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.5) inset
      
}

.matching-choices__rule {
    text-align: center;
    color: white;
    font-size: 1.750em;
    font-weight: 600;
    margin-bottom: 1em; 
}