@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Open+Sans:ital,wght@0,400;0,600;1,500&display=swap');

/*
 * Project Colors:
 * Orange - #bf3e13
 * Green - #85ab15
 * Blue - #1690b5
 * White - #ffffff
 */

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  margin: 20px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}


.slide-left {
  width: 100%;
  animation: 0.75s slide-left;
  text-align: center;  /*centered jbg */  
}

@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}


.slide-up {
  width: 100%;
  animation: 0.75s slide-up;
}
@keyframes slide-up {
  from {
    margin-top: 100%;
  }
  to {
    margin-top: 0%;
  }
}


.survey-question-type {
  padding: 20px 0;
}

.survey-question-type__choice {  
}


.survey-question-type__choice_button {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid black;
}

.survey-question {
  padding: 10px 0;
}